
div.nfw_score{
    font-size: 14px;
    position: relative;
    top: -40px;
    margin-right: 5px;
    float: right;
    border-radius: 50%;

    line-height: 34px;

    width: 34px;
    height: 34px;
    text-align: center;
    vertical-align: center;

    background: rgba(100,100,100,0.7);
    border: 2px solid #666;
    color: #FF9;
    font-weight: bold;
    text-align: center;
    z-index:1;
    pointer-events: none;
}

div.nfw_circle_red{
    background: rgba(100,0,0,0.7);
    border-color: #FF0000;
}

div.nfw_circle_green{
    background: rgba(0,100,0,0.7);
    border-color: #00FF00;
}

div.nfw_circle_yellow{
    background: rgba(100,100,0,0.7);
    border-color: #FFFF00;
}

div.nfw_circle_orange{
    background: rgba(100,70,0,0.7);
    border-color: #FF9900;
}



span.nfw_score_bob {
    font-size: 12px;
    margin-left: 10px;
    padding: 2px 5px;

    text-align: center;

    background: rgba(100,100,100,0.7);
    border: 2px solid #666;
    color: #FF9;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
}

div.nfw_score_jaw {
    font-size: 14px;
    padding: 2px 5px;
    clear: both;
    margin: 5px 0;
    background: rgba(100,100,100,0.4);
    border: 2px solid #666;
    color: #FF9;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
}

div.nfw_score_bob {
    pointer-events: none;
    position: relative;
    left: 5px;
    top: 0;
    z-index: 990;
    font-size: 14px;
    padding: 2px 5px;
    clear: both;
    margin: 5px 0;
    background: rgba(100,100,100,0.4);
    border: 2px solid #666;
    color: #FF9;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;

}

div.nfw_related {
    font-size: 14px;
    float: right;
}



a.nfw_jaw_link {
    color: #FF9;
    display: inline-block;
    pointer-events: auto;
    z-index: 999;
    cursor: context-menu;
}

img.nfw_wrong{
    float: right;
    cursor: pointer;
}

img.nfw_button{
    cursor: pointer;
}



#nfw_report_a {
    position:absolute;
    width: 0px;
    height: 0px;
}

#nfw_report {
    position:relative;
    overflow: visible;
    float:right;
    z-index:9000;
    bottom: 0px;
    width: 150px;
    left: 400px;
    border: 2px solid grey;
    padding: 10px;
    background: rgba(200,200,200,0.9);
    display: none;
    border-radius: 5px;
    text-align: right;
    size: 12px;
    color: #333;
}
