
div.nfw_score{
    font-size: 14px;
    position: relative;
    top: -40px;
    margin-right: 5px;
    float: right;
    border-radius: 50%;

    line-height: 34px;

    width: 34px;
    height: 34px;
    text-align: center;
    vertical-align: center;

    background: rgba(100,100,100,0.7);
    border: 2px solid #666;
    color: #FF9;
    font-weight: bold;
    text-align: center;
}

span.nfw_score_bob {
    z-index=10000;
    font-size: 12px;
    margin-left: 10px;
    padding: 2px 5px;
    pointer-events:none;

    text-align: center;

    background: rgba(100,100,100,0.7);
    border: 2px solid #666;
    color: #FF9;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
}

div.nfw_score_jaw {
    z-index=10000;
    font-size: 14px;
    padding: 2px 5px;
    clear: both;


    margin-left: 10px;
    background: rgba(100,100,100,0.7);
    border: 2px solid #666;
    color: #FF9;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
}

a.nfw_jaw_link {
    color: #FF9;

}
