
div.nfw_score{
    font-size: 14px;
    position: relative;
    top: -40px;
    margin-right: 5px;
    float: right;
    border-radius: 50%;

    line-height: 34px;

    width: 34px;
    height: 34px;
    text-align: center;
    vertical-align: center;

    background: rgba(100,100,100,0.7);
    border: 2px solid #666;
    color: #FF9;
    font-weight: bold;
    text-align: center;
}
